# Android Studio files
.idea/
*.iml

# Gradle files
.gradle/
build/
local.properties

# External native build files
.externalNativeBuild/
.cxx/

# Temporary files
*.log
*.hprof

# Other
captures/
.DS_Store
